[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
pull = "python pull.py"
draw = "python draw.py"
